@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700");

.calendar {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 20px 5px 0 5px;
    padding: 0 20px 100px 20px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1);
}

table {
    background-color:#f2f2f2;
    color: gray;
    position: absolute;
    z-index: 2;
    width: 40%;
    top: 20%;
    height: 400px;
    text-align: center;
    border-radius: 5px;
}

.note {
    color: blue;
    font-size: 12px;
    margin-top: 30px;
}

.tab {
    color: #27e47f;
    font-size: 15px;
    font-family: ar;
    font-weight: 100;
}

.timeline {
    align-items: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 9%;
    margin-top: 30px;
}

.timeline .timeline-row {
    display: flex;
    column-gap: 20px;
}

.timeline-column .title {
    font-size: 20px;
    margin: 32px 0 16px 30px;
}

.timeline-column .timeline-box {
    border-left: 2px solid #27e47f;
}

.timeline-box .timeline-content {
    position: relative;
    padding-left: 27px;
}

.timeline-box .timeline-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -10.5px;
    width: 20px;
    height: 20px;
    background: #27e47f;
    border-radius: 50%;
}

.timeline-content .content {
    padding: 24px;
    border: 2px solid #27e47f;
    border-radius: 8px;
    margin-bottom: 5px;
}

.timeline-content .content .year {
    font-size: 16px;
    color: #27e47f;
}

.timeline-content .content p {
    font-size: 16px;
}