.bound {
    background-color: #fff;
    height: 60px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.total {
    color: black;
    margin: 20px 20px 20px 0;
    height: 30px;
    width: 170px;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.card-container {
    background: #ffff;
    padding: 2rem;
}

.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
    margin-left: 8px;
}

.main-title {
    color: rgba(113, 99, 186, 255);
    padding-bottom: 10px;
    font-size: 15px;
}

.card1 {
    background: rgb(229, 223, 223);
    border-radius: 10px;
    padding: 1.2rem;
    width: 290px;
    height: 150px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.card-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.c1 {
    display: flex;
    flex-direction: column;
}

.title {
    font-size: 20px;
    font-weight: 200;
}

.numPatient {
    font-size: 19px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-align: center;
    margin-top: 10px;
}

.bx {
    color: #fff;
    padding: 1rem;
    height: 60px;
    width: 60px;
    text-align: center;
    border-radius: 50%;
    font-size: 1.5rem;
}
.bx-user {
    background: blue;
}
.bx-money {
    background: green;
}
.bx-repost {
    background: pink;
}
.bx-happy-alt {
    background: red;
}
.bx-up-arrow-alt {
    color: green;
    padding: 0;
    font-size: 18px;
    width: 20px;
}
.bx-down-arrow-alt {
    color: red;
    padding: 0;
    font-size: 18px;
    width: 20px;
}
.bxs-star {
    padding: 0;
    height: 10px;
    width: 10px;
    color: rgb(196, 196, 17);
    font-size: 12px;
}

.card-detail {
    font-size: 18px;
    color: #000000;
    font-family: 'Courier New', Courier, monospace;
}

/*color*/
.light-blue {
    background: rgb(236, 236, 254);
}

.light-red {
    background: rgb(251, 233, 233);
}

.light-green {
    background: rgb(235, 254, 235);
}

.light-purple {
    background: rgb(254, 226, 254);
}

.table-wrapper {
    background: #fff;
    font-size: 15px;
    font-weight: bold;
}

.table-container {
    width: 100%;
}

table {
    width: 100%;
    border-collapse: collapse;

}

thead {
    background: rgba(113, 99, 186, 255);
    color: #fff;
}

th {
    padding: 15px;
    text-align: center;
    background: #34af6d;
}

tbody {
    background: #f2f2f2;
}

td {
    padding: 15px;
    font-size: 14px;
    color: #333;
    text-align: center;
}

tr:nth-child(even) {
    background: #fff;
}

tfoot {
    background: rgba(113, 99, 186, 255);
    font-weight: bold;
    color: #fff;
}

tfoot td {
    padding: 15px;
}

.table-container button {
    color: green;
    background: none;
    cursor: pointer;
}
