*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}


.container{
    display: flex;
    height: 500px;
    width: 800px;
    border:1px solid black;
    margin: auto;
    margin-top: 80px;
    font-family: Arial, sans-serif;
    box-shadow: 19px 19px 20px black;
    border-radius: 15px;
}


body {
    background-color: #97E7E1;
    background: url("\images\backGround.jpg");
    background-size: cover;
    background-position: center;
}

.right-side {
    width: 50%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: whitesmoke;
}

.right-side h1{
    font-size: 2.5rem;
    margin-top: 50px;
    margin-bottom: 50px;    
}

form {
    display: flex;  
    flex-direction: column;
    align-items: center;
}

.input-box{ 
    padding: 12px;
    width: 100%;
    margin-top: 5px;
    border: 1px solid black;
    outline: none;
    border-radius: 20px;
}

#submit{
    padding: 12px 30px;
    width: 50%;
    margin-top: 30px;
    background-color: blue;
    color: white;
    font-weight: bold;
    border: none;
    outline: none;
    border-radius: 20px;
}

#submit:hover{
    cursor: pointer;
    background-color: lightskyblue;
    color: black;

}

/* left hand side */
.left-side {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    background-color: whitesmoke;
    background-image: linear-gradient(90deg, #0081A7, #00AFB9);
    border-radius: 15px 0 0 15px;
}

.left-side img{
    width: 400px;
    height: 400px;
}