<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    </html>
    <html lang="en">

        <head>
            <meta charset="UTF-8" />
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
            <link rel="shortcut icon" type="image/png" href="Logo.png"/>
            <title>About us</title>

            <link rel="stylesheet" href="/css/swiper-bundle.min.css">
            <link rel="stylesheet" href="/css/about.css" />
        </head>

        <body>
            <div class="bound">
                <div class="slide-container swiper">
                    <h2>Thông tin các thành viên của nhóm C-HTV</h2>
                    <div class="slide-content">
                        <div class="card-wrapper swiper-wrapper">
    
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                                    <div class="card-image">
                                        <img src="/images/avt1.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Mã Trường Vũ</h2>
                                    <p class="role">Main role: Front-end</p>
                                    <p class="detail">Detail: </p>
                                    <a href="https://www.facebook.com/vu.ma.372" target="_blank"><button class="button1">FB cá nhân</button></a>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                                    <div class="card-image">
                                        <img src="/images/avt2.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Nguyễn Mạnh Hùng</h2>
                                    <p class="role">Main role: Front-end</p>
                                    <p class="detail">Detail: </p>
                                    <a href="https://www.facebook.com/nm.hung.58" target="_blank"><button class="button1">FB cá nhân</button></a>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                                    <div class="card-image">
                                        <img src="/images/avt3.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Nguyễn Hoàng Tú</h2>
                                    <p class="role">Main role: Front-end</p>
                                    <p class="detail">Detail: </p>
                                    <a href="https://www.facebook.com/profile.php?id=100075100276226" target="_blank"><button class="button1">FB cá nhân</button></a>
                                </div>
                            </div>
                            
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                                    <div class="card-image">
                                        <img src="/images/avt4.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Nguyễn Cao Cường</h2>
                                    <p class="role">Main role: Back-end</p>
                                    <p class="detail">Detail: </p>
                                    <a href="https://www.facebook.com/absievill" target="_blank"><button class="button1">FB cá nhân</button></a>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                                    <div class="card-image">
                                        <img src="/images/avt5.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Lê Hoàng Khánh Vinh</h2>
                                    <p class="role">Main role: Back-end</p>
                                    <p class="detail">Detail: </p>
                                    <a href="https://www.facebook.com/khanh.vinh.127" target="_blank"><button class="button1">FB cá nhân</button></a>
                                </div>
                            </div>
    
                            <div class="card swiper-slide">
                                <div class="image-content">
                                    <span class="overlay"></span>
                                    <div class="card-image">
                                        <img src="/images/avt6.jpg" alt="" class="card-img">
                                    </div>
                                </div>
                                <div class="card-content">
                                    <h2 class="name">Nguyễn Hữu Tuấn</h2>
                                    <p class="role">Main role: Back-end</p>
                                    <p class="detail">Detail: </p>
                                    <a href="https://www.facebook.com/profile.php?id=100006826127019" target="_blank"><button class="button1">FB cá nhân</button></a>
                                </div>
                            </div>
                            
                        </div>
                    </div>
    
                    <div class="swiper-button-next swiper-navBtn"></div>
                    <div class="swiper-button-prev swiper-navBtn"></div>
                    <div class="swiper-pagination"></div>
                </div>
            </div>
        </body>

        <script src="/js/swiper-bundle.min.js"></script>

        <script src="/js/about.js"></script>
    </html>