<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    </html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Home Page</title>
        <link rel="stylesheet" href="/css/calendar.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>

    <body>
        <div class="container">
            <nav class="option-bar invi">
                <ul>
                    <li><a href="/profile" class="user">
                        <i class="fas fa-user" aria-hidden="true"></i></i>
                        <span class="nav-item">
                        <!-- <div class="user-name" th:text="${employee.information.name}"></div>
                        <div class="user-role" th:text="${employee.role}"></div> -->
                        <div class="user-name">User name</div>
                        <div class="user-role">User role</div>
                         </span>
                    </a></li>
                    <li><a href="/home">
                        <i class="fas fa-home" aria-hidden="true"></i>
                        <span class="nav-item">Trang Chủ</span>
                    </a></li>
                    <li><a href="/profile">
                        <i class="fas fa-info" aria-hidden="true"></i>
                        <span class="nav-item">Thông Tin Cá Nhân</span>
                    </a></li>
                    <li><a href="/profile/calendar">
                        <i class="fas fa-calendar" aria-hidden="true"></i>
                        <span class="nav-item">Lịch Cá Nhân</span>
                    </a></li>
                    <li><a href="/help">
                        <i class="fas fa-question" aria-hidden="true"></i>
                        <span class="nav-item">Trợ Giúp</span>
                    </a></li>
                    <li><a href="/setting">
                        <i class="fas fa-cog" aria-hidden="true"></i></i>
                        <span class="nav-item">Cài Đặt</span>
                    </a></li>

                    <li><a class="logout" th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt"></i>
                          <span class="nav-item">Đăng xuất</span>
                    </a></li>
                </ul>
            </nav>
            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top">
                    <div class = "logo-name" onclick="location.href='#scroll-to-top'">
                        <img src="/images/Logo.png" class="logo"> <a href="#scroll-to-top" class="name">BỆNH VIỆN NGỌC CHÂU</a>
                    </div>
                </div>
 
                <div class="calendar">
                    <div>
                        <p class="note"> <i class="bx bxs-calendar"></i> Lịch từ ngày 22/04/2024 đến 28/04/2024</p>
                        <table>
                            <tr class="tab">
                                <th>Thứ</th>
                                <th>Nội dung buổi làm</th>
                                <th>Giờ bắt đầu</th>
                                <th>Giờ kết thúc</th>
                                <th>Phòng</th>
                            </tr>
                            <tr>
                                <td>2</td>
                                <td>Trực văn phòng</td>
                                <td>7:00</td>
                                <td>17:00</td>
                                <td>H6-413</td>
                            </tr>
                            <tr style="color: black; background-color: rgb(166, 160, 160);">
                                <td>3</td>
                                <td>Trực phòng khám</td>
                                <td>7:00</td>
                                <td>16:00</td>
                                <td>H1-212</td>
                            </tr>
                            <tr>
                                <td>4</td>
                                <td>Trực văn phòng</td>
                                <td>8:30</td>
                                <td>17:00</td>
                                <td>H3-412</td>
                            </tr>
                            <tr>
                                <td>5</td>
                                <td>Trực văn phòng</td>
                                <td>7:30</td>
                                <td>17:00</td>
                                <td>H2-210</td>
                            </tr>
                            <tr>
                                <td>6</td>
                                <td>Trực phòng khám</td>
                                <td>7:00</td>
                                <td>16:00</td>
                                <td>H2-609</td>
                            </tr>
                            <tr>
                                <td>7</td>
                                <td>Trực phòng khám</td>
                                <td>7:00</td>
                                <td>16:00</td>
                                <td>H1-902</td>
                            </tr>
                            <tr>
                                <td>CN</td>
                                <td>Trực phòng khám</td>
                                <td>7:00</td>
                                <td>16:00</td>
                                <td>H4-512</td>
                            </tr>
                        </table>
                    </div>
                    <div class="timeline">
                        <div class="timeline-row">
                            <div class="timeline-column">
                                <h2 class="title">Lịch hẹn khám</h2>
                                
                                <div class="timeline-box">
                                    <div class="timeline-content">
                                        <div class="content">
                                            <div class="year">10:00</div>
                                            <p>Chị Trương Mỹ Lan đến tái khám</p>
                                        </div>
                                    </div>

                                    <div class="timeline-content">
                                        <div class="content">
                                            <div class="year">11:30</div>
                                            <p>Anh Cao Hưng đến khám đường huyết, huyết áp</p>
                                        </div>
                                    </div>

                                    <div class="timeline-content">
                                        <div class="content">
                                            <div class="year">14:00</div>
                                            <p>Anh Huỳnh Minh Hải đến tái khám</p>
                                        </div>
                                    </div>
    
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </body>
    <script src="@{/js/homePage.js}"></script>

    </html>
</span>