<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    </html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <link rel="stylesheet" href="/css/calendar.css" />
        <link rel="stylesheet" href="/css/navBarTemplate.css" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="shortcut icon" type="image/png" href="/images/Logo.png"/>
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Calendar</title>
    </head>

    <body>
        <div class="container">
            <nav class="option-bar invi">
                <ul>
                    <li><a href="/profile" class="user">
                        <i class="fas fa-user" aria-hidden="true"></i></i>
                        <span class="nav-item">
                        <div class="user-name" th:text="${employee.information.firstName}"></div>
                        <div class="user-role" th:text="${employee.role}"></div>
                        <div style="display: none" id="employeeId" th:text="${employee.id}"></div>
                         </span>
                    </a></li>
                    <li><a href="/home">
                        <i class="fas fa-home" aria-hidden="true"></i>
                        <span class="nav-item">Trang Chủ</span>
                    </a></li>
                    <li><a href="/profile">
                        <i class="fas fa-info" aria-hidden="true"></i>
                        <span class="nav-item">Thông Tin Cá Nhân</span>
                    </a></li>
                    <li><a href="/profile/calendar">
                        <i class="fas fa-calendar" aria-hidden="true"></i>
                        <span class="nav-item">Lịch Cá Nhân</span>
                    </a></li>
                    <li><a href="/help">
                        <i class="fas fa-question" aria-hidden="true"></i>
                        <span class="nav-item">Trợ Giúp</span>
                    </a></li>
                    <li><a href="/setting">
                        <i class="fas fa-cog" aria-hidden="true"></i></i>
                        <span class="nav-item">Cài Đặt</span>
                    </a></li>

                    <li><a class="logout" th:href="@{/logout}">
                            <i class="fas fa-sign-out-alt"></i>
                          <span class="nav-item">Đăng xuất</span>
                    </a></li>
                </ul>
            </nav>
            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top">
                    <div class = "logo-name" onclick="location.href='#scroll-to-top'">
                        <img src="/images/Logo.png" class="logo"> <span href="#scroll-to-top" class="name">BỆNH VIỆN NGỌC CHÂU</span>
                    </div>
                </div>
                <div class="calendar">
                    <div>
                        <p class="note" id="noteContent"> <i class="bx bxs-calendar"></i></p>
                        <table>
                            <thead>
                                <tr class="tab">
                                    <th>Thứ</th>
                                    <th>Ngày</th>
                                    <th>Nội dung buổi làm</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody id="scheduleBody">
                                <tr>
                                    <td>2</td>
                                    <td id="monday"></td>
                                    <td>Khám bệnh</td>
                                    <td><button class="myButton" onclick="mondaySchedule()">View</button></td>
                                </tr>
                                <tr>
                                    <td>3</td>
                                    <td id="tuesday"></td>
                                    <td>Khám bệnh</td>
                                    <td><button class="myButton" onclick="tuesdaySchedule()">View</button></td>
                                </tr>
                                <tr>
                                    <td>4</td>
                                    <td id="wednesday"></td>
                                    <td>Khám bệnh</td>
                                    <td><button class="myButton" onclick="wednesdaySchedule()">View</button></td>
                                </tr>
                                <tr>
                                    <td>5</td>
                                    <td id="thursday"></td>
                                    <td>Khám bệnh</td>
                                    <td><button class="myButton" onclick="thursdaySchedule()">View</button></td>
                                </tr>
                                <tr>
                                    <td>6</td>
                                    <td id="friday"></td>
                                    <td>Khám bệnh</td>
                                    <td><button class="myButton" onclick="fridaySchedule()">View</button></td>
                                </tr>
                                <tr>
                                    <td>7</td>
                                    <td id="saturday"></td>
                                    <td>Khám bệnh</td>
                                    <td><button class="myButton" onclick="saturdaySchedule()">View</button></td>
                                </tr>
                                <tr>
                                    <td>CN</td>
                                    <td id="sunday"></td>
                                    <td>Khám bệnh</td>
                                    <td><button class="myButton" onclick="sundaySchedule()">View</button></td>
                                </tr>
                            </tbody>
                        </table>

                        <a href="#myModal" class="openForm">Thêm lịch trình</a>

                        <div id="myModal" class="modal">
                            <div class="modal-content">
                                <a href="#" class="close">&times;</a>
                                <form id="infoForm">
                                    <label for="date">Ngày(*): </label>
                                    <input type="text" id="date" name="date" style="border: 1px solid #888;" required><br><br>
                                    <label for="start">Giờ bắt đầu(*): </label>
                                    <input type="start" id="start" name="start" style="border: 1px solid #888;" required><br><br>
                                    <label for="end">Giờ kết thúc(*): </label>
                                    <input type="end" id="end" name="end" style="border: 1px solid #888;" required><br><br>
                                    <label for="name">Tên bệnh nhân (nếu có): </label>
                                    <input type="name" id="name" name="name" style="border: 1px solid #888;"><br><br>
                                    <label for="content">Nội dung(*): </label>
                                    <input type="content" id="content" name="content" style="border: 1px solid #888;" required><br><br>
                                    <input type="submit" value="Submit" style="background-color: rgb(209, 201, 201); height: 25px;">
                                    <p class="error" id="postStatus">Mời bạn nhập lại. </p>
                                    <p class="error" id="postMessage">Do thiếu nội dung (*).</p>
                                </form>
                            </div>
                        </div>

                    </div>
                    <div class="timeline">
                        <div class="timeline-row">
                            <div class="timeline-column">
                                <h2 class="title">CHI TIẾT CÔNG VIỆC</h2>
                                
                                <div class="timeline-box" id="timeLineBox">
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </section>
        </div>
    </body>
    <script src="/js/calendar.js"></script>

    </html>
</span>
