<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    </html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Equipment</title>
        <link rel="stylesheet" th:href="@{/css/equipment.css}" />
        <link rel="stylesheet" href="/css/navBarTemplate.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="shortcut icon" type="image/png" href="/images/Logo.png"/>
    </head>

    <body>
        <div class="container">
            <nav th:replace="navbar :: nav"></nav>

            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top" onclick="location.href='#scroll-to-top'">
                    <div class = "logo-name">
                        <img src="/images/Logo.png" class="logo"> 
                        <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                    </div>
                </div>
                <div class="equipment">
                    <div class="small-equip">
                        <h1>Thiết bị nhỏ</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Loại thiết bị</th>
                                    <th>Số lượng</th>
                                    <th>Phòng chứa</th>
                                </tr>
                            </thead>
                            <tbody id="smallTable">
                            </tbody>
                        </table>
                    </div>
                    <div class="big-equip">
                        <h1>Thiết bị lớn</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Loại thiết bị</th>
                                    <th>Phòng chứa</th>
                                    <th>Tình trạng thiết bị</th>
                                </tr>
                            </thead>
                            <tbody id="bigTable">
                            </tbody>
                        </table>
                    </div>
                </div>
            </section>
        </div>
    </body>
    <script src="/js/equipment.js"></script>
    </html>
</span>