<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Help & Support</title>
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" th:href="@{/css/helpAndSupport.css}" />
        <link rel="stylesheet" href="/css/navBarTemplate.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>

    <body>
        <div class="container">
            <nav th:replace="navbar :: nav"></nav>

            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top" onclick="location.href='#scroll-to-top'">
                    <div class = "logo-name">
                        <img src="/images/Logo.png" class="logo"> 
                        <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                    </div>
                </div>
                
                <!-- My code start -->
                <div class="infor-card">
                    <section class="help-and-support">
                        <h2>Liên hệ phòng quản lý:</h2>
                        <p>Để được hỗ trợ, vui lòng liên hệ với chúng tôi qua email: abc hoặc số điện thoại: 12345.</p>
                    
                        <h2>Hỗ trợ kỹ thuật:</h2>
                        <p>Nếu bạn gặp vấn đề kỹ thuật khi sử dụng trang web, vui lòng gửi email tới abc hoặc gọi đến số điện thoại kỹ thuật: xyz.</p>
                    
                        <h2>Form phản hồi:</h2>
                        <p>Chúng tôi luôn hoan nghênh phản hồi từ người dùng. Vui lòng điền vào<a href="https://www.facebook.com/profile.php?id=100006826127019 " style="display: inline">form phản hồi</a>để chia sẻ ý kiến hoặc gửi email tới abc@gmail.</p> 
                        
                        <h2>Chính sách và Điều khoản sử dụng:</h2>
                        <p>Vui lòng đọc kỹ<a href="https://chat.openai.com" style="display: inline;">Chính sách và Điều khoản sử dụng</a>của trang web của chúng tôi để hiểu rõ các quy định và điều kiện khi sử dụng dịch vụ.</p>

                        <h2>Cập nhật và Thông báo:</h2>
                        <p>Chúng tôi sẽ thông báo về các cập nhật mới nhất và các thông tin quan trọng khác trên trang web của chúng tôi. Vui lòng kiểm tra thường xuyên để cập nhật.</p>
                    </section>
                </div>
                <!-- My code end -->
            </section>
        </div>
    </body>
    </html>
</span>