<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    </html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <link rel="icon" type="image/x-icon" href="/images/favicon.ico">
        <link rel="stylesheet" th:href="@{/css/homePage.css}" />
        <link rel="stylesheet" href="/css/navBarTemplate.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <title>Home Page</title>
    </head>

    <body>
        <div class="container">
            <nav th:replace="navbar :: nav"></nav>

            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top" onclick="location.href='#scroll-to-top'">
                    <div class = "logo-name">
                        <img src="/images/Logo.png" class="logo"> 
                        <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                    </div>
                </div>
 
                <div class="main-widget">
                    <div class="card" onclick="location.href='/doctorlist'">
                        <i class="fa fa-user-md" aria-hidden="true"></i>
                        <h3>Bác sĩ</h3>
                        <p>Danh sách, thông tin</p>
                    </div>
                    <div class="card" onclick="location.href='/nurselist'">
                        <i class="fas fa-user-nurse" aria-hidden="true"></i>
                        <h3>Y Tá</h3>
                        <p>Danh sách, thông tin</p>
                    </div>
                    <div class="card" onclick="location.href='/patientlist'">
                        <i class="fa fa-bed" aria-hidden="true"></i>
                        <h3>Bệnh nhân</h3>
                        <p>Danh sách, thông tin</p>
                    </div>
                    <div class="card" onclick="location.href='/storage/medicine'">
                        <i class="fa fa-flask" aria-hidden="true"></i>
                        <h3>Dược phẩm</h3>
                        <p>Kho thuốc, lấy nhập thuốc</p>
                    </div>
                    <div class="card" onclick="location.href='/storage/equipment'">
                        <i class="fa fa-medkit" aria-hidden="true"></i>
                        <h3>Trang thiết bị</h3>
                        <p>Trang thiết bị y tế, điện tử</p>
                    </div>
                </div>

                <section class="treatment-schedule">
                    <div class="treatment-list">
                        <h1>Lịch trực khám hôm nay</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Bác sĩ</th>
                                    <th>Bệnh nhân</th>
                                    <th>Phòng</th>
                                    <th>Bắt đầu</th>
                                    <th>Kết thúc</th>
                                    <th>Chi tiết</th>
                                </tr>
                            </thead>
                            <tbody id="scheduleBody">
                            </tbody>
                        </table>
                    </div>
                </section>
            </section>
        </div>
    </body>
    <script src="/js/homePageScript.js"></script>
    
    </html>
</span>