<html>
    <head>
        <title>Welcome Page</title>
        <link rel="stylesheet" href="/css/Welcome.css">
    </head>
    <body>
        <div class="banner">
            <div class="navbar">
                <img src="/images/Logo.png" class="logo">
                <ul>
                    <li><a href="#">HOME</a></li>
                    <li><a href="#">LICENSE</a></li>
                    <li><a href="#">ABOUT</a></li>
                </ul>
            </div>
            <div class="content">
                <h1>MANAGE YOUR HOSPITAL BETTER</h1>
                <p>Monitor doctor and patient schedules. Manage medicine and medical equipment easily.</p>
                <div>
                    <button type="button"><span></span>SIGN IN</button>
                    <button type="button"><span></span>ABOUT VERSION</button>
                </div>
            </div>

            <div class="more-info">
                <p>Email : ngocchau.hospital@gmail.com. <br> <br> Hotline : (+84) 975 801 426.
                    <br> <br> Address: To 11, Khoi Da Son, Tp Da Nang.
                </p>
            </div>
        </div>
    </body>
</html>