<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link th:href="@{/css/login.css}" rel="stylesheet">
    <title>Login Page</title>
</head>

<body>
    <div class="container">

        <div class = "left-side ">
            <img src = "/images/undraw_doctor_kw-5-l.svg" alt="img-doctor"></img>
            <div> NGOC CHAU .Ltd </div>
        </div>

        <div class="right-side">
            <h1>PLEASE LOG IN</h1>
            <form method="post" th:action="@{/process-login}" id="loginForm">
                <input name="username" type="text" placeholder="Enter Username" class="input-box" required />
                <br>
                <input name="password" type="password" placeholder="Enter Password" class="input-box" required />
                <br> <br>
                
                <div th:if="${param.error}">
                    Invalid username and password.
                </div>
                
                <div th:if="${param.logout}">
                    You have been logged out.
                </div>

                <button type="submit" value="Log in" id="submit">Login</button>
            </form> 
        </div>
        
    </div>
</body>

</html>