<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/medicine.css" />
    <link rel="stylesheet" href="/css/navBarTemplate.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    <link rel="shortcut icon" type="image/png" href="/images/Logo.png"/>
    <title>Medicine</title>
<body>
    <div class="container">
        <nav th:replace="navbar :: nav"></nav>

        <section class="main">
            <div id ="scroll-to-top"></div>
            <div class="main-top"  onclick="location.href='#scroll-to-top'">
                <div class = "logo-name">
                    <img src="/images/Logo.png" class="logo">
                    <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                </div>
            </div>


            <section class="treatment-schedule">
                <div class="treatment-list">
                    <h1>Thông tin về dược phẩm</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>STT</th>
                                <th>Tên thuốc</th>
                                <th style="width: 130px;"> Trạng thái</th>
                                <th>Thành phần</th>
                                <th>Công dụng</th>
                                <th>Lưu ý</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                            
                        </tbody>
                    </table>
                </div>
            </section>
        </section>
    </div>
    <script src="/js/medicine.js"></script>
</body>
</html>