<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    </html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Patient List</title>
        <link rel="shortcut icon" type="image/png" href="/images/Logo.png"/>
        <link rel="stylesheet" th:href="@{/css/patientList.css}" />
        <link rel="stylesheet" href="/css/navBarTemplate.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
    </head>

    <body>
        <div class="container">
            <nav th:replace="navbar :: nav"></nav>

            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top" onclick="location.href='#scroll-to-top'">
                    <div class = "logo-name">
                        <img src="/images/Logo.png" class="logo"> 
                        <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                    </div>
                </div>
                <div class="patient-list" id="accord-table">
                    <h1>Danh sách bệnh nhân</h1>
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Id</th>
                                <th>Tên bệnh nhân</th>
                                <th>Tình trạng bệnh nhân</th>
                                <th>Thông tin bệnh nhân</th>
                            </tr>
                        </thead>
                        <tbody id="tableBody">
                        </tbody>
                    </table>
                </div>
            </section>
        </div>
    </body>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/crypto-js/4.0.0/crypto-js.min.js"></script> -->
    <script src="/js/patientList.js"></script>
    </html>
</span>