<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    </html>
    <html lang="en">

    <head>
        <meta charset="UTF-8" />
        <title>Prescription</title>
        <link rel="stylesheet" th:href="@{/css/prescription.css}"/>
        <link rel="stylesheet" href="/css/navBarTemplate.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link rel="shortcut icon" type="image/png" href="/images/Logo.png"/>
    </head>

    <body>
        <div class="container">
            <nav th:replace="navbar :: nav"></nav>

            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top" onclick="location.href='#scroll-to-top'">
                    <div class = "logo-name">
                        <img src="/images/Logo.png" class="logo">
                        <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                    </div>
                </div>
                <div class="content">
                    <div class="describe-content">
                        <p>Nhân viên lấy thuốc : Mã Trường Vũ</p>
                        <p>Ngày kê đơn : 14/04/2024</p>
                        <p>Bệnh nhân : Nguyễn Hoàng Tú</p>
                        <p>Lưu ý của bác sĩ :</p>
                        <div class="doctor-note">
                        <p>Uống thuốc 3 buổi/ngày, bao gồm sáng trưa tối.</p>
                        <p>Uống trong vòng 7 ngày.</p>
                        <p>Tái khám nếu vẫn còn các triệu chứng của bệnh.</p>
                        </div>
                    </div>
                    <div class="numerous-content">
                        <h1>Đơn thuốc</h1>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th>Tên thuốc</th>
                                    <th>Số lượng</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td></td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td></td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td></td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td></td>
                                    <td>30</td>
                                </tr>
                                <tr>
                                    <td>01</td>
                                    <td></td>
                                    <td>30</td>
                                </tr>
                                
                            </tbody>
                        </table>
                    </div>
                </div>        
            </section>
            </div>
    </body>
                
    <script src="/js/script.js"></script>

    </html>
</span>