<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="/css/report.css" />
        <link rel="stylesheet" href="/css/navBarTemplate.css" />
        <link rel="shortcut icon" type="image/png" href="/images/Logo.png"/>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <title>Report</title>
    </head>

    <body>
        <div class="container">
            <nav th:replace="navbar :: nav"></nav>

            <section class="main">
                <div id ="scroll-to-top"></div>
                <div class="main-top"  onclick="location.href='#scroll-to-top'">
                    <div class = "logo-name">
                        <img src="/images/Logo.png" class="logo">
                        <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                    </div>
                </div>

                <div class="main-content">
                    <div class="bound">
                        <div class="total">Tổng quan</div>
                    </div>
                    
                    <div class="card-container">
                        <h3 class="main-title"></h3>
                        <div class="card-wrapper">
                            <div class="card1 light-blue">
                                <div class="card-header">
                                    <div class="c1">
                                        <span class="title">
                                            Tổng bệnh nhân</span>
                                        <span class="numPatient" id="numPatient">
                                            158</span>
                                    </div>
                                    <i class='bx bx-user'></i>
                                </div>
                                <span class="card-detail" id="numPatientStat">
                                    <i class='bx bx-up-arrow-alt'></i> 2%
                                </span>
                            </div>
                
                            <div class="card1 light-green">
                                <div class="card-header">
                                    <div class="c1">
                                        <span class="title">
                                            Doanh thu</span>
                                        <span class="numPatient" id="revenue">
                                            150.2 Triệu</span>
                                    </div>
                                    <i class='bx bx-money'></i>
                                </div>
                                <span class="card-detail" id="revenueStat">
                                    <i class='bx bx-up-arrow-alt'></i> 10%
                                </span>
                            </div>
                
                            <div class="card1 light-purple">
                                <div class="card-header">
                                    <div class="c1">
                                        <span class="title">
                                            Tỉ lệ tái khám</span>
                                        <span class="numPatient" id="reExam">
                                            47%</span>
                                    </div>
                                    <i class='bx bx-repost'></i>
                                </div>
                                <span class="card-detail" id="reExamStat">
                                    <i class='bx bx-down-arrow-alt' ></i> 2.6%
                                </span>
                            </div>
                
                            <div class="card1 light-red">
                                <div class="card-header">
                                    <div class="c1">
                                        <span class="title">
                                            Đánh giá</span>
                                        <span class="numPatient" id="rating">
                                            4.6<i class='bx bxs-star' ></i></span>
                                    </div>
                                    <i class='bx bx-happy-alt'></i>
                                </div>
                                <span class="card-detail" id="ratingStat">
                                    <i class='bx bx-down-arrow-alt' ></i> 0%
                                </span>
                            </div>
                        </div>
                    </div>
                
                    <div class="table-wrapper"></div>
                        <div class="table-container">
                           <table>
                            <thead>
                                <tr>
                                    <th>Ngày</th>
                                    <th>Tên bệnh nhân</th>
                                    <th>Tổng hóa đơn(Triệu đồng)</th>
                                    <th>Đánh giá của bệnh nhân</th>
                                </tr>
                            </thead>
                            <tbody id="tableBody">
                                
                            </tbody>
                           </table> 
                        </div>
                </div>
            </section>

            

        </div>
        <script src="/js/report.js"></script>
    </body>
</html>