<span style="font-family: verdana, geneva, sans-serif;">
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    </html>
    <html lang="en">

        <head>
            <meta charset="UTF-8" />
            <title>treatment History</title>
            <link rel="shortcut icon" type="image/png" href="/images/Logo.png"/>
            <!-- <link rel="stylesheet" th:href="@{/css/treatmentHistory.css}" /> -->
            <link rel="stylesheet" href="/css/treatmentHistory.css">
            <link rel="stylesheet" href="/css/navBarTemplate.css">
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
        </head>
            
        <body>
            <div class="container">
                <nav th:replace="navbar :: nav"></nav>

                <section class="main">
                    <div id="scroll-to-top"></div>
                    <div class="main-top" onclick="location.href='#scroll-to-top'">
                        <div class="logo-name" >
                            <img src="/images/Logo.png" class="logo"> 
                            <span class="name">BỆNH VIỆN NGỌC CHÂU</span>
                        </div>
                    </div>
                    <div class="patient-history">
                        <h1>Lịch sử khám bệnh</h1>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                        <div class="his-item" onclick="location.href='/patientlist/patientinfor/treatmenthistory/prescription'">
                            <h3>Lần 1 : Ngày 14/04/2024, khám bệnh Z do bác sĩ H phụ trách.</h3>
                            <p>Phòng khám : 607 h3</p>
                            <p>Thời gian khám : 3:00pm</p>
                        </div>
                    </div>
    
                    
                </section>
            </div>
        </body>
    </html>
</span>